html, body { margin:0; padding:0; overflow:hidden }


body{
  background: url("background2.jpg") no-repeat fixed center/cover;  

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16pt;
  height: 100vh;
}

#nurserie{
  position:relative;
  width: 94%;
  height: 87.5%;
  margin-left:auto;
  margin-right:auto;
}

#dragcontainer{
  position:relative;
  width: 85vw;
  height: 80vh;
  margin-top:7vh;
  margin-left:9vw;
  margin-right:auto;
  border-radius: 10px;
  border: 3px solid rgba(46, 24, 11, 0.671);
  background: #eeeada65;
  backdrop-filter: blur(5px);
  box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45);

  display:flex;
  align-items: center;
  justify-content: center;
 
}



#menu{
  position:absolute;
  width: 5.5vw;
  height: 80%;
  top:7.5vh;
  left:2vw;
  opacity:0.5;
  transition: opacity 0.3s ease-in-out;

}

#menu:hover{
  opacity:1;
}



#menu textarea{
  height: 75vh;
}

#monBouton{
  width:100%;
  height: 5%;
  text-align: center;
  background : rgb(189, 146, 97);
  border: 1px solid black;
  padding: 2px;
  display:flex;
  align-items: center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  justify-content: center;
}




#zone_texte{
  width: 100%;
  height: auto;
  resize: vertical;
  border-top-width: 0px;
}



/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////// LES RECTANGLES //////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////// */


.rectangle{
  background: whitesmoke;
  opacity : 1;
  border : 2px outset black;
  border-radius: 5px;
  width:100%;
  height:100%;
  display : flex;
  align-items: center;

  transition : background 0.2s ease-out;
  transition : box-shadow 0.5s ease-out;
}


.rectangle.ui-draggable-dragging{
  background:rgb(253, 230, 186);
  opacity : 0.8;
  box-shadow: rgba(32, 46, 65, 0.4) 5px 5px,
              rgba(32, 46, 65, 0.3) 10px 10px,
              rgba(32, 46, 65, 0.2) 15px 15px;
}



.rectangle.rectOn{
	background: rgb(255, 235, 169);
}






#woodpecker{
  cursor: pointer;
  position: absolute;
  width:3%;
  left:99.65%;
  top: -2%;
  transform: rotate(3deg);
  /* transition : transform 4s ease-in; */
}

#woodpecker.is-active{
  transform: rotate(-30deg);
}








/* ////////////////////////////////////////////////////////////////////////// */
/* ///////////////////// STYLE DES PRENOMS DES LES RECTANGLES ////////////// */
/* //////////////////////////////////////////////////////////////////////// */

.prenom{
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5vw;
  text-align: center;
  top:50%;
  transform: translateY(-50%);
}







/* ///////////////////////////////////////////////// */
/* ///////////////////// LES CURSEURS ////////////// */
/* /////////////////////////////////////////////////// */


#class_size{
	position: absolute;
  left: 50%;
	top: 93%;
  transform: translateX(-50%);
}


input{
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  font-family: Arial, sans-serif;
}


input[type="number"] {

  width: 60px;
  padding: 5px 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
}

input[type="range"] {
  appearance: 'none';
  -webkit-appearance: none;
  margin-right: 15px;
  width: 500px;
  height: 7px;
  background: rgba(236, 192, 155, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(#ff4500, #ff4500);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}




/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  appearance: 'none';
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: all .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: 'none';
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: all .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  appearance: 'none';
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: all .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #ff0200;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #ff0200;
}

input[type="range"]::-ms-thumb:hover {
  background: #ff0200;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
  appearance: 'none';
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  appearance: 'none';
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  appearance: 'none';
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

