@font-face {
	font-family: 'Manga_temple';
	src: url('Fonts/manga_temple/mangat.ttf') format('truetype')

}


html, body { 
  margin:0;
  padding:0;
  width:100vw;
  overflow: hidden;
  user-select: none;
}

body{
display:none;
}


footer{
  position : absolute;
  bottom: 0.5%;
  left : 0.5%;
  font-size: 0.5em;
  width:20%;
  /* margin-top: 8vh; */
  margin-left: auto;
  margin-right: auto;

}


body{
  background: url("Images/background2.jpg") no-repeat fixed center/cover;  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16pt;
  height: 100vh;
  width: 100vw;
  position: relative;
}



#dragcontainer{
  position:relative;
  width: 85vw;
  height: 83vh;
  margin-top:5vh;
  margin-left:10vw;
  margin-right:auto;
  border-radius: 10px;
  border: 3px solid rgba(46, 24, 11, 0.774);
  background: #eeeada67;
  backdrop-filter: blur(5px);
  box-shadow: 25px 0 20px -20px rgba(0, 0, 0, 0.45);


  z-index:1;
  cursor : grab;


}

#rotation_container{
  position:absolute;
  width:100%;
  height: 100%;
  transition : transform 0.5s ease;  
}


#rotation_container.prof_view{
  transform: rotate(180deg);
}
 

/***************************************************/
/**************** TABLE DU PROF ********************/
/***************************************************/

#prof_wrapper{
  position : absolute;
  width: 15%;
  height: 9%;
  left:42.5%;
  top:5%; 
}


#prof{
  width:100%;
  height: 100%;
  border : 3px solid rgba(46, 24, 11, 0.671);
  border-radius: 5px;
  font-size: 1.5vw;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor:grab;
  background: rgb(247, 247, 247);
 
  transition : box-shadow 0.5s ease-out;
  transition : transform 1s ease; 
}


#prof_wrapper.ui-draggable-dragging{
  background:rgb(255, 255, 255);
  opacity : 0.7;
  box-shadow: rgba(32, 46, 65, 0.4) 3px 3px,
              rgba(32, 46, 65, 0.3) 6px 6px,
              rgba(32, 46, 65, 0.2) 9px 9px;
}



#prof.prof_view{
  transform: rotate(180deg);
}




#number_button{
  position : absolute;
  top:1%;
  left:1%;
  border-radius: 50%;
  width: 10%;
  height: 0;
  padding-bottom: 4.5%;
  padding-top: 5.5%;
  border:1px solid black;
  background-color:white;

  transform : scale(1);
  transition : transform 0.25s; 
  cursor : pointer;

  display : flex;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
  font-family: 'Manga_temple';
}

#number_button:hover {
  transform : scale(1.3);
}



.color_front{
  position : absolute;
  border-radius: 50%;
  width: 8%;
  height: 0;
  padding-top: 8%;
  border:1px solid black;
  cursor : pointer;
  transform : scale(1);
  opacity:0.9;
  transition : transform 0.25s ease; 
  }



.color_front:hover {
  transform : scale(1.3);
}



#defaut_color_button{
  position : absolute;
  bottom:0;
  left:1%;
  background-color: rgb(247, 247, 247);
}



#color_picker{
  display: none;
}



#color_front1{
  bottom:0;
  left:11%;
  background:#a3e4fd;
}
#color_front2{
  bottom:0;
  left:20%;
  background:#9bff9b;
}
#color_front3{
  bottom:0;
  left:30%;
  background:hsl(56, 94%, 79%);
}
#color_front4{
  bottom:0;
  left:40%;
  background:#ffc788;
}
#color_front5{
  bottom:0;
  left:50%;
  background:#ff7272;
}
#custom_color_front{
  bottom:0;
  left:60%;
  background:#e156fd;
  border-radius: 5px;
}




#rotate_handler{
  position : absolute;
  /* positionnement en javascript */
  border : 1px dashed black;
  height: 100%;
  aspect-ratio: 1 / 1;
  border-radius : 100%;
  font-size: 12pt;

  display:flex;
  align-items: center;
  justify-content: center;
  cursor:default;
 
}

#rotate_handler img{
  cursor: pointer;
}



/***************************************************/
/*************** FIN TABLE DU PROF ******************/
/***************************************************/




#nurserie{
  position:absolute;
  width: 94%;
  height: 82%;
  left:3%;
  top:15%; 
  transition : transform 0.5s ease;  
  cursor:auto;
  border : 1px dotted black;
  border-radius: 10px;
}

#nurserie.prof_view{
  transform: rotate(180deg);
}
 




/* ///////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////// LES RECTANGLES //////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////// */



.wrapper{
  position : absolute;
  display : flex;
  align-items: center;
  transition : transform 1s ease;
  transition : box-shadow 0.5s ease-out;  
}



.rectangle{
  width:100%;
  height:100%;
  cursor:grab;
  background: rgb(247, 247, 247);
  opacity : 1;
  border : 1px outset black;
  border-radius: 5px;
  display : flex;
  align-items: center;

  transition : box-shadow 0.5s ease-out;
  transition : transform 1s ease;  
}



.rectangle.prof_view{
  transform: rotate(-180deg);
 
}





.rectangle.rectOn{
	border: 5px outset rgb(255, 243, 70);
  border-radius : 10px;
  font-weight:bolder;
}







/* ////////////////////////////////////////////////////////////////////////// */
/* ///////////////////// STYLE DES PRENOMS DANS LES RECTANGLES ////////////// */
/* //////////////////////////////////////////////////////////////////////// */

.prenom{
  position: absolute;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  font-size: 1.3vw;
  text-align: center;
  top:50%;
  transform: translateY(-50%);

  -webkit-hyphens: auto;
  hyphens: auto;
}


.box_number {
  position : absolute;

  bottom:0.5px;
  right: 0.5px;
  margin-top: 0px;
  margin-bottom : 0px;
  font-family: 'Manga_temple';
  font-size:9pt;
  line-height:9pt;
  text-align: right;

}





/* ////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////// LE PIVERT ///////////////////////// */
/* //////////////////////////////////////////////////////////////////////// */

#woodpecker{
  cursor: pointer;
  width:100%;

  z-index : 401;

  transform: rotate(3deg);

}

#woodpecker.is-active{
  transform: rotate(-30deg);
}

#bird_cage{
  position: absolute;
  
  width:3.5%;
  left:99.4%;
  top: 0%;
}

#bird_cage.prof_view{
   transform:  scaleY(-1); 
   transition : transform 1s ease;  
   
}
  



/* //////////////////////////////////////////////////////////////////// */
/* //////////////////////// BOUTONS ET  CURSEURS ////////////////////// */
/* //////////////////////////////////////////////////////////////////// */




#actions{
  position : absolute;
  top:92vh;
  left : 5%;
  width: 90%;
  height: 5vh;
  /* margin-top:2%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index : 0;
}


/* ///////////////////////////////////////////////// */
/* ///////////////////// LES CURSEURS ////////////// */
/* /////////////////////////////////////////////////// */



#class_size{
	position: relative;
  width: 50%;
  display : flex; 
  align-items: center;
  justify-content: center;

}


input{
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
  font-family: Arial, sans-serif;
}


input[type="number"] {

  width: 60px;
  padding: 10px 5px;
  border: 1px solid #bbb;
  border-radius: 3px;
}

input[type="range"] {
  appearance: 'none';
  -webkit-appearance: none;
  margin-right: 10px;
  width: 70%;
  height: 7px;
  /* background: rgba(236, 192, 155, 0.6); */
  background:   #1b16a554;
  /* background: linear-gradient(40deg, #3f0d2b91, #1b16a5af); */
  border-radius: 5px;
  background-image: linear-gradient(#ff44008a, #ff440094);
  background-size: 70% 100%;
  background-repeat: no-repeat;
}




/* Input Thumb */
input[type="range"]::-webkit-slider-thumb {
  appearance: 'none';
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4400;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: all .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: 'none';
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: all .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  appearance: 'none';
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: all .3s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #ff0200;
}

input[type="range"]::-moz-range-thumb:hover {
  background: #ff0200;
}

input[type="range"]::-ms-thumb:hover {
  background: #ff0200;
}

/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
  appearance: 'none';
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  appearance: 'none';
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  appearance: 'none';
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}




#switch_view{
  width : 100px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius : 50%;
  
  /* background: linear-gradient(40deg, #7c195591, #352ef7af); */
  background: linear-gradient(40deg, #3f0d2b91, #1b16a5af);
  cursor: pointer;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: bold;
}

#switch_view:hover{
  transform: scale(1.02);
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}




#bouton_img{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  width: 180px;
  height: 45px;
  border-radius: 25px;
  background: linear-gradient(40deg, #3f0d2b91, #1b16a5af);
  cursor: pointer;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: bold;
}


#bouton_img:hover{
  transform: scale(1.02);
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}







/* on ne peut pas mettre simplement display : none car dans ce cas le input de marche plus */
#file{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-input label{
  display: block;
  position: relative;
  width: 180px;
  height: 45px;
  border-radius: 25px;
  background: linear-gradient(40deg, #3f0d2b91, #1b16a5af);
  cursor: pointer;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  color: #fff;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  
  transition: transform .2s ease-out;
}


input:hover + label
{
  transform: scale(1.02);
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}



#export_button{
  position: relative;
  width: 180px;
  height: 45px;
  border-radius: 25px;
  background: linear-gradient(40deg, #3f0d2b91, #1b16a5af);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
}



#export_button:hover{
  transform: scale(1.02);
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}













/* //////////////////////////////////////////////// */
/* ///////////////// LA ZONE DE TEXTE ///////////// */
/* //////////////////////////////////////////////// */


#menu{
  position:absolute;
  width: 8.8vw;
  height: auto;
  top:5vh;
  left:1.2vw;
  opacity:0.7;
  transition: opacity 0.2s ease-in-out;
  z-index:0;
  cursor: grab;
  margin-bottom: 100px;
}


#menu:hover{
  opacity:1;
}


#monBouton{
  height: 5%;
  text-align: center;
  background : rgb(189, 146, 97);
  border: 1px solid black;
  padding: 2px;
  display:flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: center;
}




.editor {
  display: inline-flex;
  gap: 10px;
  font-family: monospace;
  line-height: 21px;
  background: #282a3a;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 10px;
  overflow: hidden;
}

.line-numbers {
  width: 20px;
  font-family: 'Manga_temple';
  font-size:12pt;
  text-align: right;
  margin-bottom: 10px;  /* same as zone_texte*/

}

.line-numbers span {
  counter-increment:  linenumber;
}

.line-numbers span::before {
  content: counter(linenumber);
  display: block;
  color: #506882;
}

#zone_texte{
  width: 100%;
  line-height: 21px;
  font-size:10pt;
  height: auto;
  overflow-y:hidden;
  padding: 0;
  border: 0;
  background: #282a3a;
  color: #FFF;
  outline: none;
  resize: none;
  margin-bottom: 10px;  /* same as .line-numbers*/
}



.editor .ui-resizable-handle{
  width: 100%;
  height: 15px;
  background : rgb(189, 146, 97);  /* same as monBouton */
  border-bottom-left-radius: 10px;  /* same as monBouton */
  border-bottom-right-radius: 10px;  /* same as monBouton */
}


