#mydiv {
  position: relative;
  z-index: 9;
  background-color: #f1f1f1;
  border: 3px solid #d3d3d3;
  text-align: center;
  width:180px;
  height: 180px;
  border-radius: 10px;
  
}

#mydivheader{
  width:50%;
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Class ajouté quand on dragge */
#mydiv.Dragged {
    border-color:red;
    box-shadow: 3px 3px 5px 3px #656565;
  } 