body{
  width:100wh;
  height: 100vh;
  display:flex;
  align-items: center;
}

#container{
position: relative;
width:50%;
height: 50vh;
margin-top:25vh;
margin-left:auto;
margin-right: auto;
border: 5px solid red;
overflow: hidden;
}


#mydiv1 {
  position: absolute;
  top:50%;
  left:40%;
  transform: translate(-50%,-50%);
  background-color: #000000;
  width : 50px;
  height:50px;
  border-radius: 10px;

}

#mydiv2 {
  position: absolute;
  top:50%;
  left:60%;
  transform: translate(-50%,-50%);
  background-color: #ee0f0f;
  width : 50px;
  height:50px;
  border-radius: 10px;

}

