/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////// POSTIONNEMENT DE L'IMAGE //////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////// */


body {
  /*border: 1px solid darkblue;*/
  display:none;
  background: url("../../Images/background2.jpg") no-repeat fixed center/cover;
  justify-content: center;
  display: flex;
  height: 95vh;
}


.svg-container {
  display : none;
  border: 5px solid darkblue;
  margin-left: auto; /*pour l'alignement horizontal*/
  margin-right: auto; /*pour l'alignement horizontal*/
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */  /*pour l'alignement vertical*/
  transform: translateY(-50%); /*pour l'alignement vertical*/
  position: relative;
  width:  95%;
  height: 95%;
  text-align: center;
  overflow:  scroll;
}



.svg-content {
/*border: 1px solid darkred;*/
width:  95%;
height: 95%;
display: flex;
margin: auto;
margin-top: 2vh;
}



/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////// BOUTONS //////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */


#blueHexButton, #redHexButton, #freeBoardButton, #twoPlayerButton{
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


#blueHexButton{
  fill: blue;
}

.blueButtonOn{
  stroke: #000000;
  stroke-width: 7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;

}

.blueButtonOff:hover{
  fill: blue;
  stroke: #AAAAAA;
  stroke-width: 7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
}



#redHexButton{
  fill: red;
}

.redButtonOn{
  stroke: #000000;
  stroke-width: 7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
  cursor: pointer;
}


.redButtonOff:hover{
  fill: red;
  stroke: #AAAAAA;
  stroke-width: 7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
  cursor: pointer;
}




#freeBoardButton, #twoPlayerButton{
  stroke: #AAAAAA;
  stroke-width: 7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
}


.freeBoardButtonOff{
  fill: white;
}

.freeBoardButtonOn{
  fill: yellow;

}

.twoPlayerButtonOff{
  fill: white;
}

.twoPlayerButtonOn{
  fill: yellow;
}



#boutonRetour{
  cursor: pointer;
  fill: white; 
  transform: translate(85%,58%) scale(1.8) ;
}

#boutonRetour.unavailable{
  cursor : none;
  opacity : 0.2;
}




/* //////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////// HEXAGONES //////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */


use.free {
  transition: 0.2s;
  cursor: pointer;
  fill: white;
  opacity:1;
}

use.eyedByBlue:hover {
  fill: #5f88ff;
}

@media screen and (max-width: 850px) {
  use.eyedByBlue:hover {
    fill: white;
  }
}


.victory{
  animation: colorblink 0.3s infinite;
}



@keyframes colorblink { 
0% { }
50% { fill: yellow; } 
}



use.eyedByRed:hover {
  fill: #fa7c91;
}



@media screen and (max-width: 850px) {
  use.eyedByRed:hover {
    fill:white;
  }
} 



use.heldByBlue{
  cursor: pointer;
	fill: blue;
}



use.heldByRed{
    cursor: pointer;
	fill: red;
}



