

/* /////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////BOUTONS //////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////// */

body{
  background: url("./background2.jpg") no-repeat fixed center/cover;
}

.blueButtonOff{
  fill: blue;
  cursor: pointer;
  stroke-width: 0;
}


.blueButtonOn{
  fill: blue;
  stroke: #000000;
  stroke-width: 7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
  cursor: pointer;
}

.blueButtonOff:hover{
  fill: blue;
  stroke: #AAAAAA;
  stroke-width: 7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
  cursor: pointer;
}


.redButtonOff{
  fill: red;
  cursor: pointer;
  stroke-width: 0;
}


.redButtonOn{
  fill: red;
  stroke: #000000;
  stroke-width: 7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
  cursor: pointer;
}


.redButtonOff:hover{
  fill: red;
  stroke: #AAAAAA;
  stroke-width: 7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
  cursor: pointer;
}



#freeBoardButton{
  cursor: pointer;
}

#twoPlayerButton{
  cursor: pointer;
}

.freeBoardButtonOff{
  fill: white;
  stroke: #AAAAAA;
  stroke-width: 7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
  cursor: pointer;

}

.freeBoardButtonOn{
  fill: yellow;
  stroke: #AAAAAA;
  stroke-width: 7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
  cursor: pointer;

}

.twoPlayerButtonOff{
  fill: white;
  stroke: #AAAAAA;
  stroke-width: 7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
  cursor: pointer;

}

.twoPlayerButtonOn{
  fill: yellow;
  stroke: #AAAAAA;
  stroke-width: 7;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:4;
  stroke-dasharray:none;
  stroke-dashoffset:0;
  stroke-opacity:1;
  cursor: pointer;

}



/* //////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////// HEXAGONES //////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////// */


use.eyedByBlue {
  transition: 0.2s;
  cursor: pointer;
  fill: white;
}

use.eyedByBlue:hover {
  fill: #5f88ff;
}

use.blueVictory {
  fill: blue;
  animation: colorblink 0.3s infinite;
}


use.redVictory {
  fill: red;
  animation: colorblink 0.3s infinite;
}

@keyframes colorblink { 
0% { }
50% { fill: yellow; } 
}




use.eyedByRed {
  transition: 0.2s;
  cursor: pointer;
  fill: white;
}


use.eyedByRed:hover {
  fill: #fa7c91;
}


use.heldByBlue{
    cursor: pointer;
	fill: blue;
}

use.heldByRed{
    cursor: pointer;
	fill: red;
}



/* /////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////// POSTIONNEMENT DE L'IMAGE //////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////////////////////////// */


body {
  /*border: 1px solid darkblue;*/
  justify-content: center;
  display: flex;
  height: 95vh;
}


.svg-container {
  border: 5px solid darkblue;
  margin-left: auto; /*pour l'alignement horizontal*/
  margin-right: auto; /*pour l'alignement horizontal*/
  margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */  /*pour l'alignement vertical*/
  transform: translateY(-50%); /*pour l'alignement vertical*/
  position: relative;
  width:  95%;
  height: 95%;
  text-align: center;
  overflow:  scroll;
}



.svg-content {
/*border: 1px solid darkred;*/
width:  95%;
height: 95%;
display: flex;
margin: auto;
margin-top: 2vh;
}









